<!DOCTYPE html>
<html lang="fr">
<head>
<title>${title}</title>
</head>
<body>
<h2>Affichage room</h2>
<form action="/helloServlet/form" method="POST">
<input type="text" name="room">
<input type="submit" value="Afficher">
</form>
</body>
</html>